<div class="container-fluid">

<nav class="navbar fixed-top navbar-expand-lg bg-dark">
  <a class="navbar-brand text-light" href="/">Kotaku Scraper</a>
  <button class="navbar-toggler bg-secondary" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-light"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-light" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/pinned">Pinned Articles</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-success scrape" data-toggle="modal" data-target="#scrapeModal">Scrape Kotaku!</button>
      </li>
      
    </ul>
    
  </div>
</nav>
</div>
<br><br>
<div class="container">

{{#each results}}
    <div class="card d-flex flex-column my-4">
        <div class="card-header bg-dark text-light">{{title}}</div>
        <div class="card-body bg-secondary">
            <a class="text-light" href={{link}}>{{link}}</a>
        </div>
    </div>
{{/each}}

<!-- Modal -->
<div class="modal fade" id="scrapeModal" tabindex="-1" role="dialog" aria-labelledby="scrapeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scrapeModalLabel">Scrape results:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Scraping Kotaku...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>