<div class="container">

{{#each results}}
    <div class="card d-flex flex-column my-4">
        <div class="card-header bg-dark text-light">{{title}}</div>
        <div class="card-body bg-secondary">
            <a class="text-light" href={{link}}>{{link}}</a>
        </div>
    </div>
{{/each}}

</div>